@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #1B1726;
}

img{
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(/imagenes/bg15.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    opacity: 90%;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #ffffff;
    background-color: #0707070c;
    font-size: 33px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 10px;
}

.logo:hover {
    color: #FF5A2C;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 13px;
    color: #fffcfc;
    background: #FF5A2C;
    font-weight: 600;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #42395d;
}

#menu{
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.navbar{
    position: fixed;
    z-index: 1000;
    top: 0;
    margin-left: 850px;
    margin-top: 5px;
    }

.header-content{
    margin-top: 50px;
    display: flex;
}

.header-txt{
    flex-basis: 50%;
}

.header-txt h1{
    font-size: 60px;
    color: #ffffff;
    line-height: 1.3;
    margin-bottom: 25px;
}

.header-txt span{
    color: #FF5A2C;
}

.header-txt p {
    font-size: 17px;
    color: #E0E0E0;
    margin-bottom: 45px;
}

.butons {
    display: flex;
}

.btn-1, .btn-2, .btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid #FF5A2C;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 17px;
    color: #ffffff;
}

.btn-1:hover{
    background-color: #FF5A2C;
}

/* JUEGOS */

.producto-content img{
    margin-top: 120px;
    margin-left: 150px;
    transform: scale(1.3);
    }

.producto-1{
    background-color: #2A223A;
}

.producto-txt{
    padding-top: 65px;
    padding-left: 145px;
    padding-bottom: 150px;
}

.producto-content h1{
    padding-left: 600px;
    font-size: 33px;
    color: #FF5A2C;
    margin-top: -450px;

}

.producto-content p{
    padding-left: 600px;
    font-size: 22px;
    color: #ffffff;
    margin-top: 100px;
    gap: 4rem;
}

.producto-content span{
color: #FF5A2C;
}

h3 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: -150px;
    margin-left: 50px;
}

.producto-content a{
    margin-left: 850px;
    padding: 30px 50px;
    margin-top: -50px;
    background-color: #FF5A2C;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.link ul{
    display: flex;
}

.link ul li > a {
    font-size: 17px;
    color: #ffffff;
    margin-right: 20px;
}

.link ul li > a:hover {
    color: #FF5A2C;
}

footer .logo{
    color: #FF5A2C;
}

footer .logo:hover{
    color: #ffffff;
}

@media (max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FF5A2C;
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #1B1726;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-txt{
        text-align: center;
        flex-basis: 100%;
    }

    .header-txt h1{
        font-size: 50px;
        margin-bottom: 15px;
    }

    .butons{
        justify-content: center;
    }

    .btn-1:last-of-type {
        margin-right: 0;
    }

    .popular {
        display: none;
    }

    .producto{
        padding: 30px;
    }

    .producto-content {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }

    .producto-1 img{
        width: 100%;
    }

    .contacto {
        padding: 30px;
    }

    form{
        flex-direction: column;
    }

    input{
        margin: 0 0 20px 0;
    }

    .footer{
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        margin-top: 20px;
    }

}









